In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('weather.csv')

In [3]:
df

     outlook temperature humidity  windy play
0   overcast         hot     high  False  yes
1   overcast        cool   normal   True  yes
2   overcast        mild     high   True  yes
3   overcast         hot   normal  False  yes
4      rainy        mild     high  False  yes
5      rainy        cool   normal  False  yes
6      rainy        cool   normal   True   no
7      rainy        mild   normal  False  yes
8      rainy        mild     high   True   no
9      sunny         hot     high  False   no
10     sunny         hot     high   True   no
11     sunny        mild     high  False   no
12     sunny        cool   normal  False  yes
13     sunny        mild   normal   True  yes

In [4]:
df.shape

(14, 5)

In [5]:
df.head()

    outlook temperature humidity  windy play
0  overcast         hot     high  False  yes
1  overcast        cool   normal   True  yes
2  overcast        mild     high   True  yes
3  overcast         hot   normal  False  yes
4     rainy        mild     high  False  yes

In [7]:
df['outlook']=df['outlook'].astype('category')
df['outlook']=df['outlook'].cat.codes

In [8]:
df['temperature']=df['temperature'].astype('category')
df['temperature']=df['temperature'].cat.codes

In [9]:
df['humidity']=df['humidity'].astype('category')
df['humidity']=df['humidity'].cat.codes

In [10]:
df['windy']=df['windy'].astype('category')
df['windy']=df['windy'].cat.codes

In [11]:
df['play']=df['play'].astype('category')
df['play']=df['play'].cat.codes

In [12]:
df

    outlook  temperature  humidity  windy  play
0         0            1         0      0     1
1         0            0         1      1     1
2         0            2         0      1     1
3         0            1         1      0     1
4         1            2         0      0     1
5         1            0         1      0     1
6         1            0         1      1     0
7         1            2         1      0     1
8         1            2         0      1     0
9         2            1         0      0     0
10        2            1         0      1     0
11        2            2         0      0     0
12        2            0         1      0     1
13        2            2         1      1     1

In [13]:
x=df[['outlook','temperature','humidity','windy']]

In [14]:
y=df[['play']]

In [15]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB

In [16]:
model=GaussianNB()

In [17]:
model.fit(x,y)

C:\Users\kalai\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [18]:
model.score(x,y)

0.9285714285714286

In [19]:
model1=MultinomialNB()

In [20]:
model1.fit(x,y)

C:\Users\kalai\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB()

In [21]:
model1.score(x,y)

0.7857142857142857

In [22]:
model.predict([[0,1,0,0]])

C:\Users\kalai\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array([1], dtype=int8)